/* --------------- Services --------------- */

.services-sa{
    background-color: black;
   color: white;
        .item{
           background: $bg-color;
           padding: 15px;
           border-radius: 20px;
   
           .cont{
               padding: 15px;
   
               .icon{
                   width: 52px;
                   height: 52px;
                   line-height: 50px;
                   text-align: center;
                   border: 1px solid rgba(255, 255, 255, 0.1);
                   border-radius: 50%;
   
                   img{
                       width: 25px;
                   }
   
                   &.invert{
   
                       img{
                           filter: invert(1);
                       }
                   }
               }
   
               .text{
                   margin-top: 100px;
                   margin-bottom: 20px;
   
                   p{
                       font-size: 14px;
                       font-weight: 300;
                       line-height: 22px;
                   }
               }
           }
       }
   }
   
   .marq-sa{   
       overflow: hidden !important;
   
       .item{
           padding: 0 80px !important;
           position: relative;
           filter: invert(1);
   
           &:after{
               content: '';
               width: 12px;
               height: 12px;
               background: black;
               border-radius: 50%;
               position: absolute;
               top: 50%;
               left: 0;
               transform: translateY(-50%);
           }
   
           h2{
               white-space: nowrap;
               font-size: 96px;
               line-height: 120px;
               letter-spacing: -4px;
               background: linear-gradient(to right, #fff, transparent);
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
           }
       }
   }
   
 

   .sec-head{

    .sub-head.white{


        &:after{
      
            background: #ffffff;
       
        }
    }
}